body, html {
  padding: 0;
  height: 100%;
}

#navbar-logo {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#logo-big {
  height: 230px;
  padding-left: 10px;
  @include center-block();
}

#content {
  padding-top: 75px;
  padding-bottom: 30px;
  min-height: 90%;
}

.apps-preview {

}

.appl-icon {
  font-size: 70pt;
  @include center-block();
}

footer {
  margin-top: -20px;
  padding-top: 10px;
  padding-bottom: 20px;
  min-height: 10%;
  width: 100%;
  background-color: $gray-darker;

}

footer h5 {
  color: $gray;
}

footer h5 {
  color: $gray;
}

footer h4 {
  color: $gray;
}

