.row
  .col-md-3
    = render('apps/apps_menu')
  .col-md-9
    .well
      = render('apps/app_tab')
      .tab-content
        .tab-pane.active.app-show-content
          = render('upload_types')
          TODO