%footer.app-footer
  .container.app-footer-container
    .row
      %h3.pull-right.powered-by
        .app-powered-by-text
          =t('powered-by')
        .app-powered-by-logo
          =link_to image_tag("navbar-logo2.png", :border=>0, id: 'navbar-logo'), root_url(subdomain: Rails.configuration.constants['domain_prefix'])
