%li
  .timeline-badge
    = icon('cloud-upload')
  .timeline-panel
    .timeline-heading
      %h4.timeline-title
        = activity.author.name
    .timeline-body
      = t("activity.#{activity.activity_type}")