- if app.logo
  = image_tag(app.logo_url, class: 'user-logo')
- else
  = icon('cubes', '', class: 'user-logo')


.bs-docs-section
  %h1.page-header
    = app.name

  %p.text-center
    = markdown(app.login_text)
