.row
  .col-md-3
    = render('apps_menu')
  .col-md-9
    .well
      = render('app_tab')
      .tab-content
        .tab-pane.active
          %ul.list-group
            - @activities.each do |activity|
              = render('activity', activity: activity)